@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff') format('woff2'),
      url('../fonts/Poppins-Bold.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.woff') format('woff2'),
      url('../fonts/Poppins-SemiBold.woff2') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff') format('woff2'),
      url('../fonts/Poppins-Medium.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


.container{
  max-width: 1210px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.site-intro{
  background-image: url("../img/bgc-fon.svg");
}

.learn-code{
  display: flex;
}

.intro-heading{
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: -0.520833px;
  color: #FFFFFF;
  width: 525px;
  padding-top: 290px;
}

.intro-text{
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  width: 525px;
  padding-bottom: 290px;
  margin-right: 45px;
}

.intro-text-right{
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.267857px;
  color: #FFFFFF;
  border: 1px solid transparent;
  background-color: rgba(94, 84, 164, 1);
  border-radius: 10px;
  margin-top: 121px;
  padding: 17px 0;
}

.form-intro{
  border: 2px solid transparent;    
  background-color: rgba(255, 255, 255, 1);
  width: 540px;
  border-radius: 5px;
  /* margin-left: 45px; */
}
.name-item{
  width: 460px;
}

.item-name{
  padding: 15px 0 15px 32px;
  margin-bottom: 10px;  
  border-radius: 10px;
  margin: 40px 40px 0 40px;
  border: 2px solid rgba(222, 222, 222, 1);
  width: 460px;
}


.name:not(:placeholder-shown):not(:focus):invalid{
  background-image: url("../img/error.svg");
  background-repeat: no-repeat;
  border-color: tomato;
  background-position:right 16px center;
}

.connet-text{
  display: none;
  color: rgba(255, 121, 121, 1);
  width: 152px;
  display: none;
  font-style: italic;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: right;

}

.last-name:not(:placeholder-shown):not(:focus):invalid{
  background-image: url("../img/error.svg");
  background-repeat: no-repeat;
  border-color: tomato;
  background-position:right 16px center;
}

.email-address:not(:placeholder-shown):not(:focus):invalid{
  background-image: url("../img/error.svg");
  background-repeat: no-repeat;
  border-color: tomato;
  background-position:right 16px center;
}

.password:not(:placeholder-shown):not(:focus):invalid{
  background-image: url("../img/error.svg");
  background-repeat: no-repeat;
  border-color: tomato;
  background-position:right 16px center;
}

input:not(:placeholder-shown):not(:focus):invalid ~ .connet-text {
  display: inline-block;
  margin-left: 345px;
  margin-bottom: 19px;
  margin-top: 6px;
}

.right-claim{
  width: 460px;
  padding: 15px;
  background-color: rgba(56, 204, 139, 1);
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px; 
  color: #FFFFFF;
  border-radius: 10px;
  border: 2px solid transparent;
  margin: 20px 0 8px 40px;
}
.claim-link{
  display: block;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 26px;
  text-align: center;
  color: #BAB7D4;
  text-decoration: none;
  margin-bottom: 40px;
}

.term-services{
  color: rgb(209, 55, 55);
}